@tailwind base;
@tailwind components;
@tailwind utilities;
 
 :root {
  color: white;
  background: linear-gradient(to right, #0F172A, #0F172A); 
  /* background-color: rgb(218, 216, 216); */


  /* Color Variable start*/
  --logo-color: #4CBD90;
  --footer-color:#1C4274;
  --banner-color:#51B8E5

  /* Color Variable end*/ 
}

